body{
    background-color: rgb(240, 238, 238) ;
}
.quicklinks{
    display : flex;
    justify-content: space-around;
    background-color: white;
    align-items:baseline;
}

.feature{
    justify-content: space-around;
    background-color: white;
}
.update{
    display : flex;
    justify-content: flex-start;
    
}
.card{
    padding:4px;
    width:70%;
    background-color: white;
}
img{
    width:90%;
    
}
.indiv{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}
.item{
    padding:4px;
    width:30%;
    background-color: white;
}
.img-item{
    width:60%;
    vertical-align:middle;
    float:left;
    background-color: white;
}
.indiv-content>{
    width:60%;
    justify-content: center;
    display:inline;
    float:right;
    padding:2px;
    background-color: white;
}
a{
    text-decoration:none;
    font-size:70%;
    color:black;
}
svg{
    color:rgb(15, 120, 161);
}
